@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  margin: 0 auto;
  max-width: 80vw;
  font-size: 15px;
  font-family: 'Cinzel', serif;
}
.main-section {
  background-color: white;
}
.product {
  display: inline-block;;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  margin: 5px;
  width: 30%;
}
aside {
  display: inline-block;
  vertical-align: top;
  width: 27%;

}
.product-image {
  max-width: 100%;
}
nav {
  display: inline-block;
}
header h1 {
  display: inline-block;
}
.searchbar {
  display: inline-block;
}
header li {
  display: inline-block;
  padding: 0 2.5px;
}
main  {
 width: 67%;
 display: inline-block;
 padding: 0 30px;
 margin-bottom: 20px;
}
header {
  background-color: black;
  color: white;
}
footer {
  background-color: black;
  color: white;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header h1 {
  width: 60%;
  padding: 30px;
}
h2 {
  padding-left: 10px;
}
h3 {
  padding-left: 10px;

}
ul {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
aside li {
  padding: 5px 0;
}
.searchbar {
  margin-left: 20px;
  width: 15%;
}
header a, footer a {
  color: white;
}

.cart-button {
  background-color: #33ff33;
  color: white !important;
  padding: 5px;

}
.product a {
  color: black;
}
a:hover {
  color: #4db8ff !important;
}
.image-detail {
  float: left;
  max-width: 40%;
  text-align: left;
}
.product-detail {
  display: inline-block;;
  border: 1px solid black;
  margin: 20px 0;
  box-sizing: border-box;
  width: 60%;
  text-align: center;
  padding: 10px;
}
caption {
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
  border-bottom: 1px dotted black;
}
table {
  width: 400px;
  text-align: left;
  padding: 5px;
}
td, th {
  padding: 5px;
}
.formdiv {
  margin: 20px 0;
  width: 600px;
  text-align: left;
}
.input-c {
  width: 350px;
  height: 30px;
}
.input-label {
  margin-right: 20px;
}
#name {
  margin-left: 20px;
}
#email {
  margin-left: 20px;
}
.buttons {
  margin: 10px 5px;
}
textarea {
  height: 70px !important;
}
td:hover, th:hover {
  background-color: rgba(230, 230, 230, 0.5);
}
